body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(100, 171, 237);

}

.site-title {
    color: rgb(255, 196, 216);

}

#my-image {
    box-shadow: (0 0, 2px, 1px, black)
    
}   

.hobbies {
    list-style-type:square
}

.hobbies li:nth-child(odd) {
    background-color: rgb(255, 254, 240);
}

.navigation {
    list-style-type: none;
    
}


.navigation a {
    text-decoration-line: none;
    background-color: lightblue; 
    border: 2px solid rgb(255, 0, 204); 
    padding: 10px 15px;    
             
    
}

.navigation a:hover {
    background-color: rgb(96, 13, 13);


}

