body {
    font-family: Arial, sans-serif; 
    color: black; /*  text color black */
    line-height: 1.5; /*  line height for better readability */
    margin: 0;
    padding: 0;
    background-color: #12bfc5fd;  
}
h1, h2, h3, h4, h5, h6 {
    color: #000; /* makes the headings easy to see and read */
}

a {
    color: #007bff; /*  link color */
    text-decoration: none;
}
a:hover {
    color: #0056b3; /*  hover color */
    text-decoration: underline;
}
.navbar {
    background-color: #fff; /* White background for the navbar */
    list-style-type: none; /* This remove bullets point */
    padding: 0;
    margin: 0;
    display: flex; /* This display items in a row */
    justify-content: space-around; 
    align-items: center; /* This center items */
    ;
}

body a {
    list-style-type: none; /* This remove bullets point */
    text-decoration: none; /* This remove underline from links */
    color: #050505; /* This set the color of the links */
    padding: 20px  
    display: block; /* This make the links behave like a block element */
    

}
body li {
    list-style: none; /* This remove bullets point */
}

body a:hover {
    background-color: #f0f0f0; /* This change the background color on hover */
    color: #e4140d; /* This change the text color on hover */
}
.navbar-links {
    display: flex; /* This display items in a row */
    justify-content: space-around; /* This space items evenly */
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}
.navbar-links li {
    margin: 10px 0;
    text-align: center;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute; 
    top: 40px; 
    right: 30px; 
    
}
.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
    padding-right: 30px; 
    margin: 0; 
}
.navbar.active {
    display: flex;
}
.navbar li {
    margin: 10px 0;
    text-align: center;
}
.navbar a {
        padding: 10px;
        display: block;
        color: #000000; 
        text-decoration: none; /* this remove underline from links */
        font-weight: bold; /* this make the links bold */
        transition: color 0.3s ease; 
        
        border-radius: 5px; 
        display: inline-block; /* Make the link behave like a block element */
}
.navbar a:hover {
    background-color: #70ffc4;
    color: #17a2b8;
}


.logo {
    position: absolute; /* Position the logo absolutely */
    top: 20px; /* Distance from the top of the screen */
    left: 25px; 
    z-index: 1000; /* makes the logo stay above other elements */
}
.logo img {
    width: 45px; /* Adjust the logo size  */
    height: auto; 
    display: block; 
    margin: 0 auto; 
    padding: 5px; 
    border-radius: 50px; 
    top: 80px; 
    left: 60px; 
    z-index: 1000; 
    background-color: #fff; 
    animation: spin 1s ease-in-out; /* this make the logo spin*/

}
h1 {
    text-align: center; /* Centers the text  */
    margin-top: 20px; 
    font-size: 2.5em; /*  Adjust the font size */
    color: #333; 
    z-index: 9999; /* makes the h1 stay above other elements */
}



.welcome li  {
    list-style-type: none; /* Removes bullet points */
    color: #070707;
    background-color: #fff; /* White background for the list items */
    padding: 10px; /* Padding for the list items */
    margin: 10px 0; 
    }

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%; /* Full height of the viewport */
    background-color: #13f8f8; /* light blue background for the wrapper */
    padding: 40px; 
    box-sizing: border-box; 
    border-radius: 10px; 
    align-items: relative; /* Center items vertically */
    position: relative; 
    z-index: 1;   
}
.wrapperc {
    display:flex;
    flex-direction:start;
    min-height: 100%; 
    background-color: #13f8f8; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 10px; 
    margin: 20px; 
    float: left; 
    
}

img {
    max-width: 100%; 
    height: auto; /* Maintain the aspect ratio */
    display: block; 
    border-radius: 5px; 
}

.box {
    width: 100px; /* width of each box */
    height: 100px; 
    display: flex;
    align-items: inline; 
    justify-content: auto; 
    color: white; /* Text color */
    font-weight: bold; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Space between boxes */
    overflow: hidden; /* makes the image stay in the box */
}
.box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* makes the image cover the box  */
    transition: transform 0.3s ease; 
}
.box:hover img {
    transform: scale(1.1); /* Scale the image on hover */
    transition: transform 0.3s ease; /* Transition for hover effect */
    background-color: #fd0e22;
}



/* Add unique colors for each box */
.box1  {
    background-color: #ff6f61; 
    position: absolute; /* relative for absolute position */
    z-index: 1; 
    animation: spin 1s ease-in-out; /* this make the box spin*/
    transition: transform 0.3s ease; 
    cursor: pointer; /* cursor to pointer on hover */
    top: 60px; 
    left: 80px; 

}

.box2 {
    background-color: #6b5b95; 
    position: absolute;
    z-index: 1; /* make it stays above other elements */
    animation: spin 1s ease-in-out; /* this make the box spin*/
    transition: transform 0.3s ease; 
    cursor: pointer; 
    top: 60px;
    left: 80px; 
    
}

.box3 {
    background-color: #88b04b; 
    position: absolute;
    z-index: 1; 
    animation: spin 1s ease-in-out; 
    transition: transform 0.3s ease; 
    cursor: pointer; 
    bottom: 80px; 
    right: 100px; 
}

.box4  {
    background-color: #ff6f61; 
    position: absolute; 
    z-index: 1; 
    animation: spin 1s ease-in-out; /* this make the box spin*/
    transition: transform 0.3s ease; /* Transition for hover effect */
    cursor: pointer; 
    top: 60px; /* Adjust position to center the box */
    right: 30px; 

}

.box5  {
    background-color: #ff6f61; 
    position: absolute; 
    z-index: 1; /* make it stays above other elements */
    animation: spin 1s ease-in-out; /* this make the box spin*/
    transition: transform 0.3s ease; 
    cursor: pointer; 
    top: 10px; /
    right: 20px; 

}
.box6  {
    background-color: #ff6f61; 
    position: absolute; 
    z-index: 1; 
    animation: spin 1s ease-in-out; /* this make the box spin*/
    transition: transform 0.3s ease; /* Transition for hover effect */
    cursor: pointer; /* Change cursor to pointer on hover */
    top: 30px; 
    left: 40px; /* Adjust position to center the box */

}


.image-popup-overlay {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 9999; /* makes it stay above other elements */
    justify-content: center;
    align-items: center;
}


.image-popup-overlay img {
    max-width: 90%; 
    max-height: 90%; 
    border-radius: 10px; /*  Add rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adds shadow */
    animation: fadeIn 0.3s ease-in-out; /*  fade-in animation */
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
 

@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}
  @media (min-width: 1024px) {
    .navbar {
        display: flex; 
        flex-direction: row;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
 .navbar li {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    #arts img {
        width: 100%; /* Make the image take the full width of its container */
        height: auto; /* Maintain the aspect ratio */
    }
}

.welcome {
    text-align: center;
    margin-bottom: 20px; 
}

.welcome p {
    font-size: 1.2em; 
    color: #555; 
    text-align: center; 
    margin-bottom: 20px; 

}

section {
    margin: 20px 0; /* Space between sections */
    padding: 20px; 
    background-color: #40c3d4; 
    border-radius: 5px; /* Rounded corners for sections */
    justify-self: start; 
    flex: 1;       
    min-width: 300px; 
    max-width: 800px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    transition: all 0.3s ease; /*  transition for hover effects */
    position: relative; 
    z-index: 1;
    text-align: center; 
    
}

section a {
    color: #000000; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease; 
    padding: 5px; /* Padding for links */
    border-radius: 5px; 
    display: inline-block; 
}

section a:hover {
    color: #fd0e22; 
    text-decoration: underline; /* Adds underline on hover */
    background-color: #e0e0e0; 
}

section li p {
    margin: 0; 
    
    background-color: #10b0c5; 
    padding: 10px; 
}

section:hover {
    transform: scale(1.04); /* Slightly enlarge the section on hover */
    box-shadow: 1 4px 10px rgb(255, 19, 11); /* Add shadow on hover */
}


.row{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; /
}

.row img {
    max-width: 100%; /* make images respondsive */
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

img, picture {
    max-width: 100%; 
    height: auto;
    display: block; 
    border-radius: 5px; 
}

picture {
    display: inline-block;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form {
    background: #18c7a1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input[type="submit"] {
    background: #0a9797;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background: #27b0c2;
}

button, a {
    outline: none;
}

button:focus, a:focus {
    outline: 2px solid #007bff; /* Add a visible focus indicator */
    outline-offset: 2px;
}

button:hover {
    animation: animate__pulse 1s infinite;
    background-color: #70ffc4;
}
:root {
    --bs-primary: #ff6f61;
    --bs-secondary: #6b5b95; 
    --bs-success: #88b04b; 
    --bs-info: #92a8d1; 
    --bs-warning: #ffcc5c; 
    --bs-danger: #f7cac9;
    --bs-light: #f8f9fa; 
    --bs-dark: #343a40; 
}

.footer {
    background-color: #343a40; /* Dark background for the footer */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer .socialicons {
    margin-bottom: 10px;
    display: flex; /* Flexbox for social icons */
    justify-content: center; 
    align-items: center; 
    list-style: none; /* Remove bullets from the list */
    padding: 0; 
    margin: 0; 
    flex-wrap: wrap; /* Allow icons to wrap to the next line if needed */
    gap: 10px; /* Space between icons */

}

.footer .socialicons a {
    color: rgb(211, 42, 20);
    margin: 0 10px; 
    font-size: 20px; 
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease;
}
.footer .socialicons a:hover {
    color: #17a2b8; 
}

.footer p {
    margin: 0;
    font-size: 14px;
}


