
css reset{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d4e9e7;
    color: black;
    max-width:fit-content;

    header img {
        width: 100%;
        height: auto;

    }

    header h1 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
    }

    nav {
        width: 200px;
        display: inline-flex
    }

    nav ul {
        list-style-type:none;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 15px 0;
    }

    nav a {
        display;
        color: black;
        text-decoration: none;
        padding: 5px 10px;
    }

    article {
        max-width: 
        margin: auto;
    }



    .article-img {
        float: left;
        margin: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

    .facts {
        padding: 20px;
        

    }

    .contact-form {
        padding: 20px;
    }

    label {
        display: block;
        margin: 10px 0 5px;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    .userrespond{
        list-style-type:circle;
    }

     
        
    }

    button {
        background-color: #aad4cf;
        color: black;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .footer {
        margin-left: 90%;
    }

