body { 
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
     
        background-color:aquamarine;
        border-radius: 10px
     }
        padding: 2px;
    }

    .site-tittle{
        color: bisque;
    }

    #my-image {
    box-shadow: 0 0 2px 1p black ;
    }
    
    div ul {
        list-style-type: square; 
    }

    ul li:nth-child(odd) {
        background-color: lightgray;
    }

    nav ul {
        list-style: none;
    }
  
    nav a {
        text-decoration: none; /* Remove underline */
        background-color: lightblue; /* Background color */
        border: 1px solid blue; /* Border */
    }

    nav a:hover,
nav a:focus {
    background-color: blue; /* Change background color on hover or focus */
    color: white; /* Change text color */
}
